* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}
#top {
    height: 100vh;
    display: grid;
    background: gray;
    grid-template-rows: 1fr 100px 100px 1fr;
    place-items: center;
}

.search_icon {
    padding-top: 2px;
}

#top_img {
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: 100%;
}
#search_box input {
    font-size: 16px;
    border: solid 1px white;
    border-radius: 5px 0 0 5px;
}

#search_box button {
    font-size: 14px;
    border: solid 1px white;
    border-radius: 0 5px 5px 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #9ed1d9;
}

#search_box {
    background: white;
    border-radius: 5px;

    width: 450px;
    height: 40px;

    display: grid;
    grid-template-columns: 400px 50px;

    font-size: 14px;
    border: none;
}

.back_top {
    cursor: pointer;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background: #9ed1d9;
    padding: 0.5rem;
    font-size: 2rem;
    border: 1.5px solid white;
    border-radius: 50%;
    display: flex;
    opacity: 0.8;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    transition: 0.8s ease;
}
.back_top:active{
    background: #9ed1d98c;
}
.outer {
    height: 100vh;
}

.inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.bg-yellow {
    background-color: #f7f6cf;
}

.bg-blue {
    background-color: #b6d8f2;
}

.bg-pink {
    background-color: #f4cfdf;
}

.divider {
    width: 100%;
    height: 5px;
    background-color: gray;
}
.navbar{
    background:#9ed1d9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    font-size: 20px;
    width:100%;
    height:25px;
    position: fixed;
}
.navbar_menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}
.navbar_menu_menu a{
    text-decoration: none;
    color: white;
}
.navbar_icons{
    list-style: none;
}