body{
    background: #9ed1d9;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_icon{
    font-size: 30px;
    padding-bottom: 30px;
}
.container{
    background: #f7ecdc;
    width: 540px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
}
.loginregister {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container div{
    padding-top: 20px;
}
.loginregister__input {
    width: 430px;
    height: 60px;
    display: flex;
    font-size: 16px;
    background: #f7ecdc;
    border-radius: 5px;
    border: solid 2px gray;
}
.loginregister__button {
    margin-top: 13px;
    background: #f5a282;
    color: #f7ecdc;
    font-size: 16px;
    width: 465px;
    border-radius: 40px;
    height: 60px;
    cursor: pointer;
    border: none;
    transition-duration: 0.2s;
}
.loginregister__button:active{
    background:#f28962;
}
.link_msg{
    display: flex;
}

.link_msg span{
    font-size: 20px;
    padding-right: 20px;
}
.link_msg a{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color:#f5a282;
}
.link_msg a:active{
    color: #f28962;
}