:root {
    --body-background-color:#042b52;
    --font-color:#4e4e4e;
    --border-gray-color: #dadada;
    --IconDB-color:#831379b0;
    --IconDB-border-color:#920bad6c;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Alata',sans-serif;
}
#head-icon{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 40px;
    color: white;
}
.sign-section-wrap{
    background: white;
    width: 540px;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 10px black;
    border-radius: 5px 5px 0px 0px;
}
.sign-section-wrap .sign-button-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.sign-section-wrap .sign-button-list button{
    width: 270px;
    height: 60px;
    font-size: 30px;
    border: none;
    background: solid 1px var(--font-color);
}
body{
    background: var(--body-background-color);
}
.page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form-container{
    background: white;
    width: 540px;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px black;
    border-radius: 0px 0px 5px 5px;
}
#login-input-section-wrap{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-input-wrap{
    width: 465px;
    height: 48px;
    border: solid 1px var(--border-gray-color);
    background: white;
    border-radius: 5px;
    align-items: center;
}
.password-wrap{
    margin-top:20px;
}
.login-input-wrap input{
    border: none;
    width: 430px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    height: 30px;
}
.login-button{
    padding-top: 13px;
}
.login-button button{
    width: 465px;
    height: 60px;
    font-size: 20px;
    background: var(--IconDB-color);
    color: white;
    border:solid 1px var(--IconDB-border-color);
    border-radius: 5px;
}
.not-memeber-msg{
    padding-top: 30px;
    font-size: 50px;
    display: flex;
}
.Easier-sign-in-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 30%;
}
#sign-button-naver{
    padding-top: 50px;
    width: 465px;
    display: flex;
    padding-bottom: 20px;
}
#sign-button-kakao{
    width: 465px;
    display: flex;
    padding-bottom: 30px;
}

#sign-button-naver button{
    width: 465px;
    height: 48px;
    border: #2db400;
    text-align: center;
    background: #2db400;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
#sign-button-kakao button{
    width: 465px;
    height: 48px;
    border:#f9e000;
    text-align: center;
    background:#f9e000;
    font-size: 20px;
    border-radius: 5px;
}
