:root {
    --body-background-color:#042b52;
    --font-color:#4e4e4e;
    --border-gray-color: #dadada;
    --IconDB-color:#831379b0;
    --IconDB-border-color:#920bad6c;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Alata',sans-serif;

}
body{
    background: var(--body-background-color);
}
#head-icon{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 40px;
    color: white;
}
#head-icon a{
    text-decoration: none;
    color: white;
}
.sign-section-wrap{
    background: white;
    width: 540px;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 10px black;
    border-radius: 5px 5px 0px 0px;
} 
.sign-section-wrap #sign-up-button{
    width: 270px;
    font-size: 30px;
    display: flex;
}
.sign-section-wrap #sign-in-button{
    width: 270px;
    font-size: 30px;
    display: flex;
}
.sign-section-wrap #sign-up-button button{
    width: 270px;
    height: 60px;
    text-align: center;
    background:white;
    font-size: 30px;
    border-style: none;
    color: gray;
    border-radius: 5px 0px 0px 0px;
    transition-duration: 0.3s;
}
.sign-section-wrap #sign-in-button button{
    width: 270px;
    height: 60px;
    text-align: center;
    background:white;
    font-size: 30px;
    border-style: none;
    color: gray;
    border-radius: 0px 5px 0px 0px;
    transition-duration: 0.3s;
}
.sign-section-wrap #sign-up-button button:active{
    background:gray;
    color: darkgray;
}
.sign-section-wrap #sign-in-button button:active{
    background:gray;
    color: darkgray;
}
.page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-form-container{
    background: white;
    width: 540px;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px black;
    border-radius: 0px 0px 5px 5px;
}
#signup-input-section-wrap{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-input-wrap{
    width: 465px;
    height: 48px;
    border: solid 1px var(--border-gray-color);
    background: white;
    border-radius: 5px;
    align-items: center;
}
.password-wrap{
    margin-top:20px;
}
.signup-input-wrap input{
    border: none;
    width: 430px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    height: 30px;
}
#signup-button{
    padding-top: 13px;
    padding-bottom: 17px;
}
#signup-button button{
    width: 465px;
    height: 60px;
    font-size: 20px;
    background: var(--IconDB-color);
    color: white;
    border:solid 1px var(--IconDB-border-color);
    border-radius: 5px;
    transition-duration: 0.2s;
}
#signup-button button:active{
    background:#470942b0;
}
.Easier-sign-in-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 30%;
}
#sign-button-naver{
    padding-top: 33px;
    width: 465px;
    display: flex;
    padding-bottom: 20px;
}
#sign-button-kakao{
    width: 465px;
    display: flex;
    padding-bottom: 30px;
}

#sign-button-naver button{
    width: 465px;
    height: 48px;
    border: #2db400;
    text-align: center;
    background: #2db400;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    transition-duration: 0.2s;
}
#sign-button-naver button:active{
    background: #228301;
}
#sign-button-kakao button{
    width: 465px;
    height: 48px;
    border:#f9e000;
    text-align: center;
    background:#f9e000;
    font-size: 20px;
    border-radius: 5px;
    transition-duration: 0.2s;
}
#sign-button-kakao button:active{
    background: #a09000;
}
