.detail {
    margin: 0 auto;
}

.detail__content .detail__icon__inner img {
    height: auto;
}

.detail__sidebar .author__holder {
    border-top: 1px solid #e5e5e5;
    padding: 10px 0;
}

.detail .detail-footer .tags li {
    display: block;
    margin: 0 2px 4px;
}