#header {
    background: none;
    margin: 0;
    border: none;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
    width: 100%;
}

.header--menu {
    height: 54px;
    background-color: #9ed1d9;
    padding: 0 20px;
}

.header--search {
    box-shadow: 0 0 0 1px #d8d8d8;
    background-color: #fff;
}

.header--menu__login {
    min-width: 50px;

    @media screen and (max-width: 992px) {
        margin-left: 0 !important;
        order: 2;
    }
}

.header--search__inner {
    padding: 10px 20px;
}
