.container, .container.groups__item, .container.row, .countdown ul.container, .landing--register .container.separator, .profile-login .container.group {
    max-width: 1520px;
    padding: 0 20px;
    margin: 0 auto;
}

.countdown ul, .groups__item, .landing--register .separator, .profile-login .group, .row {
    margin: 0;
}

.bj-button {
    border-radius: 6px;
}

.bj-button--primary, .bj-button--primary:active, .bj-button--primary:focus, .bj-button--primary:hover, .bj-button--primary:visited, .bj-button--yellow, .bj-button--yellow:active, .bj-button--yellow:focus, .bj-button--yellow:hover, .bj-button--yellow:visited, .btn-warning, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .btn-warning:visited {
    color: #121212;
}