body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    height: auto;
    min-height: 100vh !important;
    background-color: #fff;
    color: #777;
    font-family: var(--font-base);
    font-size: 15px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

#gr_user_menu {
    min-width: 60px;
}

@media screen and (min-width: 992px) {
    #gr_user_menu {
        height: 36px;
    }
}

.detail__content .detail__icon__holder {
    flex: 1;
    position: relative;
}

button, input[type=button], input[type=reset], input[type=submit] {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    user-select: none;
    cursor: pointer;
}

.detail .detail-footer {
    min-height: 83px;
}

.detail .detail-footer h2 {
    font-size: 17px;
}

.detail .detail-footer .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 24px;
}