.search-holder .fake-search {
    background-color: #f0f0f0;
    height: 44px;
    line-height: 44px;
    border-radius: 3px;
    margin: 0;
}

.search-holder .tag-field {
    position: relative;
    line-height: 24px;
    height: 100%;
}